// Mixins Here
.sign-up-btn(@width:100px, @fontsize:1.8rem){
    background-color: @btn-bg-color;
    color: @btn-text;
    width: @width;
    height:40px;
    border-radius: 15px;
    font-size: @fontsize;
    @media @phone {
        width: 100%;
        height: 75px;
        border-radius: 10px;
    }
}
.btn-hover(){
    &:hover{
        background-color: @btn-text;
        color: @btn-bg-color;
    }
}
.flex(){
    display:flex;
}